/* BUTTONS */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	@include font-size(0.75);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:active,
	&:focus,
	&:hover {
		border-color: $color__border-button-focus;
	}
}

/* FIELDS */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="submit"] {
	font-size: 1rem;
	cursor: pointer;
}

$checkbox_width: 1.25rem;
$checkbox_height: 1.25rem;
$checkbox_margin-right: 1rem;

input[type="checkbox"] {
	cursor: pointer;
	width: $checkbox_width;
	height: $checkbox_height;
	margin-right: $checkbox_margin-right;
}

$repeater_input_height: 46px;

.repeater-input {
	&__holder {
		padding-left: calc(#{$checkbox_width} + #{$checkbox_margin-right});
		position: relative;
	}

	&__wrapper {
		display: flex;
		margin-top: 1rem;
		flex-flow: column;

		input {
			height: $repeater_input_height;
		}

		input:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__add-button {
		position: absolute;
		bottom: calc((#{$repeater_input_height} - #{$checkbox_height}) / 2);
		left: 0;
		cursor: pointer;
		width: $checkbox_width;
		height: $checkbox_height;
		margin-right: $checkbox_margin-right;
		border: 0;
		padding: 0;
		font-size: 22px;
	}
}

label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* Profile Picture Form */
