/* VARIABLES */
$input-padding: 5px;

/* FIELDS */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: $input-padding $input-padding $input-padding 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	border: none;
	border-bottom: 1px solid $color__main-theme--blue-transparent;

	// &:focus {
	// 	color: $color__text-input-focus;
	// }

	&:focus-visible {
		outline: none;
	}
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
}

input[type="submit"] {
	font-size: 1rem;
	cursor: pointer;
}

$checkbox_width: 1.25rem;
$checkbox_height: 1.25rem;
$checkbox_margin-right: 1rem;

input[type="checkbox"] {
	cursor: pointer;
	width: $checkbox_width;
	height: $checkbox_height;
	margin-right: $checkbox_margin-right;
}

$login-and-registration-height: 80vh;

.login-and-registration {
	&__welcome-view {
		display: flex;
		min-height: $login-and-registration-height;

		> * {
			padding: 1.5em;
		}
	}

	&__forms {
		height: 100%;
		// border: 1px solid $color__border-element;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 1024px) {
			width: 35%;
			min-height: $login-and-registration-height;
		}

		form {
			p {
				display: flex;
				flex-flow: column;
				margin: 1rem auto 2rem;
				position: relative;
			}
		}

		.login-branding {
			margin-bottom: 4rem;
		}

		.login-msg {
			margin-bottom: 2rem;
			padding: calc(#{$input-padding} + 1px) calc(#{$input-padding} + 1px)
				calc(#{$input-padding} + 1px) 0; // +1px for border width
		}

		.login-password,
		.login-username {
			label {
				cursor: initial;
			}
		}

		// .login-username {
		// 	position: relative;

		// 	&::before {
		// 		content: "@";
		// 		position: absolute;
		// 		top: calc(1rem + 5px);
		// 	}

		// 	label,
		// 	input {
		// 		padding-left: 2rem;
		// 	}
		// }

		.login-panel,
		.registration-panel {
			transition: all 0.5s cubic-bezier(0.17, 0.04, 0.32, 1);
			transform: translateY(5%);
			opacity: 0;
			width: 100%;
		}

		.forgot-password-link {
			text-align: center;
			width: 100%;
			display: block;
		}

		#switch-sign-in,
		#switch-sign-up {
			cursor: pointer;
			text-align: center;
		}

		.form-deactivated {
			display: none;
		}

		.form-activated {
			display: block;
		}

		.form-active {
			opacity: 1;
			transform: translateY(0%);
		}

		.login-logo {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding: 1em;
		}

		.login-remember label {
			position: static;
		}
	}

	&__our-mission {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		// border: 1px solid $color__border-element;

		img {
			max-height: 550px;
			padding: 2rem;
		}

		@media screen and (min-width: 1024px) {
			width: 65%;
		}
	}
}

.new-attachment {
	&__placeholder {
		width: 100%;
	}

	&__icon {
		min-width: 35px;
		width: 35px;
	}
}

/* 	Animations */

.animated-label-holder,
.login-form p {
	label {
		// pointer-events: none;
		position: absolute;
		padding: calc(#{$input-padding} + 1px) calc(#{$input-padding} + 1px)
			calc(#{$input-padding} + 1px) 0; // +1px for border width
		background-clip: content-box;
		background-color: $color__background-body;
		transition: all 150ms ease-out;
	}

	input {
		transition: all 150ms ease-out;
	}
}

.input-holder {
	&__active {
		label {
			transform: translateY(-100%);
			font-size: 0.75em;
		}

		input {
			border-bottom: 1px solid $color__main-theme--turquoise;
		}
	}

	&__filled {
		input {
			border-bottom: 1px solid lightgreen;
		}
	}
}

#lostpasswordform {
	p {
		display: flex;
		flex-flow: column;
		margin: 1rem auto;
	}
}

.repeater {
	&__holder {
		// padding-left: calc(#{$checkbox_width} + #{$checkbox_margin-right});
		position: relative;
	}

	&__wrapper {
		display: flex;
		margin-top: 1rem;
		flex-flow: column;

		input:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	// &__field-wrapper {
	// 	margin-bottom: 2rem;
	// }

	&__field {
		position: relative;
		border-bottom: 1px solid $color__border-element;

		&:first-of-type {
			display: none;
		}

		.remove-item {
			transform: scale(1);
		}

		.new-attachment__preview {
			.remove-item {
				transform: scale(0.75);
			}
		}
	}

	&__button {
		cursor: pointer;
		// border: 0;
		// padding: 0;
		// font-size: 22px;
		// position: absolute;
		font-size: 1rem;
		// width: $checkbox_width;
		// height: $checkbox_height;

		line-height: $checkbox_height;
		// background: transparent;
		// color: $color__main-theme--blue;

		&--add {
			left: calc(#{-$checkbox_width} - #{$checkbox_margin-right});
			margin-right: $checkbox_margin-right;

			&::before {
				content: "+";
				margin-right: 1rem;
			}
		}

		// &--delete {
		// 	content: "";
		// 	background-image: url(../dist/svg/close_icon_red.svg);
		// 	background-color: transparent;
		// 	border: 0;
		// 	// right: calc(#{-$checkbox_width} - #{$checkbox_margin-right});
		// 	right: 0;
		// 	// margin-left: $checkbox_margin-right;
		// 	position: absolute;
		// 	height: 14px;
		// 	width: 14px;
		// 	padding: 0;
		// 	line-height: 0;
		// 	transform: translateX(calc(100% + #{$checkbox_margin-right}));
		// }
	}
}

#contact_user_data_form {
	$repeater_input_height: 46px;

	.repeater {
		input {
			height: $repeater_input_height;
		}

		&__button {
			// bottom: calc((#{$repeater_input_height} - #{$checkbox_height}) / 2);
			margin-top: 2rem;
		}
	}
}

#upload_sound_to_gallery_form {
	$repeater_input_height: 188px;

	// .repeater {
	// 	input {
	// 		height: $repeater_input_height;
	// 	}

	// 	&__button {
	// 		bottom: calc((#{$repeater_input_height} - #{$checkbox_height}) / 2);
	// 	}
	// }

	.button--upload-file {
		margin: auto;
	}

	.row-wrapper {
		align-items: center;
	}
}

#upload_image_to_gallery_form {
	$repeater_input_height: 30px;

	.repeater {
		input {
			height: $repeater_input_height;
		}

		&__button {
			bottom: calc((#{$repeater_input_height} - #{$checkbox_height}) / 2);
		}
	}
}

#upload_image_to_gallery_form,
#upload_video_to_gallery_form {
	padding-top: 2rem;
}

.my-pictures__wrapper {
	img {
		max-height: 350px;
		object-fit: contain;
	}
}

label {
	display: flex;
	align-items: center;
	// cursor: pointer;
	// color: $color__text--light-grey;
	line-height: 1;
}

#settings_user_password_form {
	display: flex;
	flex-flow: column;
}

/* Profile Picture Form */
