/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
}

.fs--200 {
	@include fluid-type($min_width, $max_width, 11px, 13px);
}

.fs--600 {
	@include fluid-type($min_width, $max_width, 18px, 22px);
}

.fs--800 {
	@include fluid-type($min_width, $max_width, 24px, 28px);
}

.fs--1000 {
	@include fluid-type($min_width, $max_width, 30px, 34px);
}

.fs--1200 {
	@include fluid-type($min_width, $max_width, 22px, 40px);

	@media screen and (min-width: 1024px) {
		@include fluid-type($min_width, $max_width, 38px, 42px);
	}
}

.fs--1400 {
	@include fluid-type($min_width, $max_width, 26px, 44px);

	@media screen and (min-width: 1024px) {
		@include fluid-type($min_width, $max_width, 42px, 46px);
	}
}

.fs--1800 {
	@include fluid-type($min_width, $max_width, 32px, 52px);

	@media screen and (min-width: 1024px) {
		@include fluid-type($min_width, $max_width, 52px, 56px);
	}
}

.fw--100 {
	font-weight: 100;
}

.fw--300 {
	font-weight: 300;
}

.fw--500 {
	font-weight: 500;
}

.fw--700 {
	font-weight: 700;
}

.fw--900 {
	font-weight: 900;
}

.ff--secondary {
	font-family: $font__secondary;
}

.lh {
	&--1 {
		line-height: 1;
	}

	&--125 {
		line-height: 1.25;
	}

	&--150 {
		line-height: 1.5;
	}
}

h1 {
	@include fluid-type($min_width, $max_width, 22px, 46px);
	font-weight: 700;
	line-height: 1.15;
}

h2 {
	@include fluid-type($min_width, $max_width, 18px, 22px);
	line-height: 1.25;
}

h4 {
	@include fluid-type($min_width, $max_width, 16px, 18px);
}

.page-template-user-account-page-template {
	h1 {
		text-transform: unset;
		color: black;
		font-weight: 700;
		letter-spacing: 0;
	}
}

/* COPY */

p {
	margin: 0;
	font-weight: 300;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-Thin.otf);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-ThinItalic.otf);
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-Light.otf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-LightItalic.otf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-Medium.otf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-MediumItalic.otf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-Bold.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url(../dist/fonts/Gotham-Black.otf);
	font-weight: 900;
	font-style: normal;
}

// @font-face {
// 	font-family: "Gotham";
// 	src: url(../dist/fonts/Gotham-BlackItalic.otf);
// 	font-weight: 700;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "Gotham";
// 	src: url(../dist/fonts/Gotham-Ultra.otf);
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "Gotham";
// 	src: url(../dist/fonts/Gotham-UltraItalic.otf);
// 	font-weight: 900;
// 	font-style: italic;
// }

.text {
	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--white {
		color: $color__text-white;
	}

	&--blue {
		color: $color__main-theme--blue;
	}

	&--turquoise {
		color: $color__main-theme--turquoise;
	}

	&--outline-turquoise {
		color: transparent;
		-webkit-text-stroke: 2px $color__main-theme--turquoise;
	}

	&--outline-blue {
		color: transparent;
		-webkit-text-stroke: 2px $color__main-theme--blue;
	}

	&--underline-turquoise {
		width: fit-content;
		padding: 0.5em 0;
		border-bottom: 2px solid $color__main-theme--turquoise;
	}

	&--turquoise-bold {
		color: $color__main-theme--turquoise;
		font-weight: 700;
	}

	&--medium-header {
		@include fluid-type($min_width, $max_width, 34px, 38px);
	}

	&--big-header {
		@include fluid-type($min_width, $max_width, 44px, 100px);
		text-align: center;
		margin: 0 0 1.5em;
		font-weight: 900;
	}

	&--error {
		color: $color__error-red;
	}
}
