/* COLORS */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #404040;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__text-main; //royalblue
$color__link-visited: $color__text-main; //purple
$color__link-hover: inherit; //midnightblue

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-element: #e5e5e5;

$color_special-elements: #6ec9cf;
$color__inactive-element: #cacaca;

$color__error-red: #ff0000;
$color__success-green: #24b82be6;
$color__verified-blue: #5698e7;
$color__text--light-grey: #999;
$color__text-white: #fff;
$color__text-black: #000;
$color__pending: #ffb618;

$color__main-theme--blue: #16538c;
$color__main-theme--blue-transparent: #16538c40;
$color__main-theme--turquoise: #18a0aa;
$color__main-theme--turquoise-transparent: #18a0aa20;

/* TYPOGRAPHY */
$font__main: "Gotham";
$font__secondary: "Poppins";
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* STRUCTURE */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/* RWD */
$break__medium: 40.063em;
$break__large: 64.063em;

/* BOX-SHADOWS */
// $box-shadow_standard--theme-color: 0 0px 15px 5px rgb(0 0 0 / 10%),
// 	0 0px 6px 0px rgb(0 0 0 / 5%);

$box-shadow_standard--theme-color: 0 3px 5px rgb(22 83 140 / 15%);
$box-shadow_standard--black: 0 2px 10px rgb(0 0 0 / 10%);
$box-shadow_button--theme-color: 0 1px 5px 2px rgb(22 83 140 / 20%);
$box-shadow_button--decoration-color: 0 1px 5px 2px rgba(24, 160, 170, 0.2);

/* GRADIENTS */

$gradient--turquoise: linear-gradient(
	15deg,
	rgba(24, 160, 170, 0.15) 0%,
	rgba(24, 160, 170, 0.075) 50%,
	rgba(255, 255, 255, 0) 100%
);

/* TRANSITIONS */
$transition_regular: all 0.3s ease-in-out;
$transition__button--standard: all 0.2s ease-in-out;

/* ELEMENTS */

$padding__content-box: 1rem;

$padding__content-box-1024: 2rem;

$padding-site-content: 1rem;

$padding-site-content-1024: 5%;

$padding-site-content-1280: 7.5%;

$padding-site-content-1536: 12.5%;

$corner-decoration-spacing: -1.75rem;

// Z-INDEX

$z-index-preloader: 10000;
$z-index-modal: 9999;
$z-index-header: 9998;
$z-index-menu-toggle: 9998;

/* BORDER RADIUS */
$border-radius--submenu: 10px;
