.management {
	.welcome-view {
		&__right {
			margin-bottom: 4rem;

			@media screen and (min-width: 1024px) {
				display: flex;
				align-items: flex-end;
				padding-right: 4em;
				margin-bottom: 0;
			}
		}

		.svg-holder {
			.svg-bg {
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
				height: 6rem;
				width: 100%;
				animation-play-state: paused;

				&:first-of-type {
					background-image: url(../dist/svg/PSTK_letters_filled.svg);
				}

				&:nth-of-type(2),
				&:nth-of-type(3) {
					background-image: url(../dist/svg/PSTK_letters_outline.svg);
					animation-duration: 1s;
					animation-delay: 0.25s;
					animation-fill-mode: forwards;
					animation-timing-function: ease-in-out;
				}

				&:nth-of-type(2) {
					transform: translateY(-100%);

					opacity: 0.6;

					animation-name: slideDown55;

					@keyframes slideDown55 {
						0% {
							transform: translateY(-100%);
						}

						90% {
							transform: translateY(-45%);
						}

						100% {
							transform: translateY(-45%);
						}
					}

					@media screen and (min-width: 1024px) {
						animation-name: slideDown80;

						@keyframes slideDown80 {
							0% {
								transform: translateY(-100%);
							}

							90% {
								transform: translateY(-20%);
							}

							100% {
								transform: translateY(-20%);
							}
						}
					}
				}

				&:nth-of-type(3) {
					transform: translateY(-200%);

					opacity: 0.3;

					animation-name: slideDown125;
					@keyframes slideDown125 {
						0% {
							transform: translateY(-200%);
						}

						90% {
							transform: translateY(-75%);
						}

						100% {
							transform: translateY(-75%);
						}
					}

					@media screen and (min-width: 1024px) {
						animation-name: slideDown150;
						@keyframes slideDown150 {
							0% {
								transform: translateY(-200%);
							}

							90% {
								transform: translateY(-50%);
							}

							100% {
								transform: translateY(-50%);
							}
						}
					}
				}
			}

			&--animated {
				.svg-bg {
					animation-play-state: running;
				}
			}
		}
	}

	&__squad {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;

		@media screen and (min-width: 1024px) {
			padding: 6rem;
		}
	}

	&__card-content {
		height: 100%;
		width: 100%;
		z-index: -1;
		display: none;
		scroll-margin-block-start: 6rem;
	}

	&__tab-title {
		width: 100%;
	}

	&__card-title {
		margin-bottom: 6rem;

		@media screen and (min-width: 1024px) {
			margin-bottom: 2rem;
		}

		p {
			text-align: center;
			@media screen and (min-width: 1024px) {
				text-align: left;
			}
		}
	}

	&__person {
		width: 100%;
		margin: 0 auto 10rem;

		@media screen and (min-width: 1024px) {
			width: 50%;
			display: flex;
			justify-content: flex-start;

			&:nth-of-type(odd) {
				justify-content: flex-end;
			}

			&:first-of-type,
			&--last-even {
				width: 100%;
				margin: 0 auto;

				> * {
					@media screen and (min-width: 1024px) {
						margin: auto;
					}
				}
			}

			&--last-pair {
				justify-content: center !important;
			}
		}
	}

	&__person-wrapper {
		justify-content: center;
		display: flex;
		flex-flow: column;
		align-items: center;

		img {
			width: 150px;
			height: 150px;
			object-fit: contain;
			border-radius: 100%;
		}

		.text-wrapper {
			text-align: center;
			width: 200px;
		}

		.svg-icon-bg--email {
			position: absolute;
			bottom: -2rem;
			right: -2rem;
		}

		.svg-icon-bg--pointer-right {
			width: 1rem;
			height: 1rem;
			margin-left: 1rem;
			transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}

		&:hover {
			.svg-icon-bg--pointer-right {
				transform: translateX(15px);
			}
		}

		.text--turquoise:hover {
			color: $color__main-theme--turquoise;
		}
	}
}

.tabs-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 6rem;
	column-gap: 5%;

	.tab-menu__position {
		cursor: pointer;
		color: $color__main-theme--blue;
		transition: $transition__button--standard;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
		box-shadow: $box-shadow_standard--theme-color;
		border: 2px solid $color__main-theme--blue;
		border-radius: 100rem;
		width: 100%;
		margin-bottom: 1.5rem;

		@media screen and (min-width: 1024px) {
			flex: 1 1 27.5%;
			margin-bottom: 0;
		}

		p {
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			text-transform: uppercase;
			white-space: nowrap;
			padding: 0.75rem 1rem;
			@include fluid-type($min_width, $max_width, 12px, 18px);
			user-select: none;
		}

		&--active,
		&:hover {
			background: $color__main-theme--blue;
			color: $color__text-white;
		}
	}
}

.tabs-content {
	min-height: 20em;

	.tab {
		height: 100%;
		width: 100%;
		display: none;

		&__text,
		&__image {
			opacity: 0;
			transition: all 0.4s ease;
		}

		&--active {
			z-index: 1;
			display: flex;
			flex-flow: column;
			// background: $color__background-lightgrey;

			// @media screen and (min-width: 1400px) {
			// 	flex-flow: row;
			// }
		}

		&--loaded {
			.tab__image,
			.tab__text {
				opacity: 1;
			}
		}

		&__text {
			padding: 0 1.5rem 2rem;

			height: 100%;
			min-height: 20em;

			@media screen and (min-width: 1024px) {
				padding: 0 4rem 2rem;
			}

			@media screen and (min-width: 1400px) {
				width: 50%;
				padding: 3rem 5rem;
			}

			h4 {
				@include fluid-type($min_width, $max_width, 24px, 26px);

				margin: 2rem 0;

				@media screen and (min-width: 1024px) {
					margin: 2rem 0;
				}
			}

			p,
			a {
				margin: 0 0;
				@include fluid-type($min_width, $max_width, 16px, 16px);
			}

			&-business-data__wrapper {
				margin-bottom: 1.5em;
			}

			&-description {
				line-height: 1.5;
			}
		}

		&__image {
			min-height: 20em;
			background-position: center;
			@media screen and (min-width: 1400px) {
				width: 50%;
			}
		}
	}
}
