.about {
	.welcome-view {
		&__right {
			img {
				max-height: 400px;
				border-radius: 20px;
				object-fit: contain;
			}
		}
	}

	&__section-2 {
		.text-holder {
			width: 75%;
			margin: auto;
		}

		.advantages {
			column-gap: 6rem;
		}

		.image-holder {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

	&__section-3 {
		position: relative;

		.advantage {
			max-width: 300px;

			img {
				width: 125px;
				height: 110px;
				object-fit: contain;
			}

			&__title-wrapper {
				margin: 3rem auto 1rem;
			}
		}
	}
}
