.home {
	&__section-1 {
		position: relative;

		@media screen and (min-width: 1024px) {
			display: flex;
		}

		&:after {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.welcome-view__container {
			display: flex;
			flex-flow: column;
			row-gap: 2rem;

			@media screen and (min-width: 1024px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: calc(3vw + 1rem);
				grid-template-columns: 50%;
				grid-row-gap: 3rem;
			}

			h1 {
				color: $color__main-theme--blue;
				letter-spacing: 2px;
				text-transform: uppercase;

				@media screen and (min-width: 1024px) {
					grid-column: 1;
					grid-row: 1;
					align-self: end;
				}

				.text--outline-turquoise {
					display: block;
				}
			}

			.image-holder {
				order: 5;

				@media screen and (min-width: 1024px) {
					grid-column: 1;
					grid-row: 2;
				}

				img {
					object-fit: contain;
					max-height: 350px;
					border-radius: 20px;
				}
			}

			h2 {
				@media screen and (min-width: 1024px) {
					grid-column: 2;
					grid-row: 1;
					align-self: end;
					// text-align: center;
				}
			}

			.searchfilter__wrapper {
				@media screen and (min-width: 1024px) {
					grid-column: 2;
					grid-row: 2;
					// justify-self: center;
					width: 100%;
				}

				li.sf-field-submit {
					position: relative;
					margin-top: 3rem;
					padding: 0;

					h4 {
						// color: transparent;
						// height: 1rem;
						display: none;
					}
				}
			}

			.prizes-wrapper {
				display: flex;
				grid-column: 2;
				grid-row: 3;
				align-self: end;
				justify-self: end;
				order: 6;
				width: 100%;
				justify-content: center;
				margin-top: 2rem;

				img {
					max-width: 100px;
					object-fit: contain;

					@media screen and (min-width: 1024px) {
						max-width: 150px;
					}

					&:first-of-type {
						margin-right: 2rem;
					}
				}
			}
		}
	}

	&__section-2 {
		.bulletpoints-box {
			@media screen and (min-width: 1024px) {
				width: 60%;
			}

			&__title {
				padding-bottom: 2rem;
				position: relative;

				@media screen and (min-width: 1024px) {
					padding-right: 5rem;
				}

				&:before {
					position: absolute;
					right: 0;
					bottom: 0;
					content: "";
					height: 75%;
					width: 1px;
					background: $color__main-theme--turquoise;
				}

				&:after {
					position: absolute;
					right: 0;
					bottom: 0;
					content: "";
					height: 1px;
					width: 100%;
					background: $color__main-theme--turquoise;
				}
			}

			&__list-holder {
				position: relative;
				padding-top: 2rem;
				padding-left: 2rem;

				@media screen and (min-width: 1024px) {
					padding-left: 4rem;
				}

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					content: "";
					height: 100%;
					width: 1px;
					background: $color__main-theme--turquoise;
				}

				li {
					margin: 2rem 0;
					position: relative;

					@media screen and (min-width: 1024px) {
						padding-right: 33%;
					}

					&:first-of-type {
						margin-top: 0;
					}

					&:before {
						content: "";
						position: absolute;
						left: -2rem;
						top: 50%;
						height: 1.5rem;
						width: 1.5rem;
						border-radius: 100%;
						background: $color__main-theme--turquoise;
						transform: translate(-50%, -50%);

						@media screen and (min-width: 1024px) {
							left: -4rem;
						}
					}

					&:nth-of-type(even) {
						&:before {
							background: $color__main-theme--blue;
						}
					}
				}
			}
		}

		img {
			margin-top: 6rem;
		}

		.bg-decoration {
			&__holder {
				margin-top: 4rem;

				@media screen and (min-width: 1024px) {
					margin-bottom: 30rem;
				}
			}

			&__content {
				right: 0;
				bottom: 0;
				transform: translateY(100%);

				svg {
					height: 35rem;
				}
			}
		}
	}

	&__section-3 {
		.advantage {
			&__wrapper {
				& > * {
					padding: 1.5rem 2rem;
					position: relative;
				}
			}

			&__img-wrapper {
				text-align: center;

				@media screen and (min-width: 1024px) {
					width: 55%;
					text-align: right;
				}

				img {
					width: 7.5rem;
					height: 7.5rem;
					object-fit: contain;
				}
			}

			&__title-wrapper,
			&__paragraph-wrapper {
				@media screen and (min-width: 1024px) {
					width: 80%;
				}
			}

			&__title-wrapper {
				color: $color__main-theme--turquoise;
				text-align: center;
			}
		}

		.bg-decoration {
			&__holder {
				margin-top: 4rem;

				@media screen and (min-width: 1024px) {
					margin-bottom: 15rem;
				}
			}

			&__content {
				right: 0;
				bottom: 0;
				transform: translateY(100%);

				svg {
					height: 20rem;
				}
			}
		}
	}

	&__section-4 {
		.section-4 {
			&__title {
				p {
					margin: 0;
					padding-left: 4rem;
				}
			}

			&__bg {
				position: relative;
				background-size: contain;
				background-repeat: no-repeat;
				display: flex;

				@media screen and (min-width: 1024px) {
					width: 65%;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					background: rgb(0, 57, 142);
					background: linear-gradient(
						0deg,
						rgba(0, 57, 142, 0.5578606442577031) 0%,
						rgba(255, 255, 255, 0) 75%
					);
				}

				p {
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 0;
				}
			}

			&__paragraph-wrapper {
				margin-top: 4rem;
				margin-left: auto;
				padding: 1rem;

				@media screen and (min-width: 1024px) {
					width: 50%;
				}

				padding: 2rem 15% 4rem 3rem;
				border-top: 1px solid $color__main-theme--turquoise;
				border-left: 1px solid $color__main-theme--turquoise;

				p {
					margin: 0;
				}
			}

			&__cta-wrapper {
				margin-top: 4rem;
			}
		}
	}
}

.get-to-know-us {
	&__element-wrapper {
		flex: 1;

		img {
			max-width: 300px;
		}
	}
}
