.home {
	&__section-1 {
		position: relative;

		@media screen and (min-width: 1024px) {
			display: flex;

			margin-bottom: 7.5rem;
			padding-bottom: 7.5rem;
		}

		&::after {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.welcome-view__container {
			display: flex;
			flex-flow: column;
			row-gap: 2rem;

			@media screen and (min-width: 1024px) {
				display: grid;
				grid-column-gap: 6rem;
				grid-template-columns: 1fr 1fr;
				grid-row-gap: 3rem;
			}

			h1 {
				text-transform: uppercase;

				@media screen and (min-width: 1024px) {
					grid-column: 1;
					grid-row: 1;
					align-self: flex-end;
				}

				.text--outline-turquoise {
					display: block;
				}
			}

			.image-holder {
				order: 5;

				@media screen and (max-width: 1023px) {
					width: 100%;
				}

				@media screen and (min-width: 1024px) {
					grid-column: 1;
					grid-row: 2;
				}

				img {
					object-fit: contain;
					max-height: 350px;
					border-radius: 20px;

					@media screen and (max-width: 1023px) {
						width: 100%;
					}
				}
			}

			h2 {
				@media screen and (min-width: 1024px) {
					grid-column: 2;
					grid-row: 1;
					align-self: flex-end;
					justify-self: center;
					max-width: 400px;
					// text-align: center;
				}
			}

			.searchfilter__wrapper {
				justify-self: center;

				@media screen and (min-width: 1024px) {
					grid-column: 2;
					grid-row: 2;
					width: 100%;
					transform: translateY(-1rem);
				}

				li.sf-field-submit {
					position: relative;
					padding: 0;
					margin-top: 2rem;

					@media screen and (min-width: 1024px) {
						margin-top: 3rem;
					}

					h4 {
						// color: transparent;
						// height: 1rem;
						display: none;
					}
				}
			}

			.prizes-wrapper {
				display: flex;
				grid-column: 2;
				grid-row: 3;
				align-self: flex-end;
				justify-self: flex-end;
				order: 6;
				width: 100%;
				justify-content: center;
				margin-top: 2rem;

				img {
					max-width: 100px;
					object-fit: contain;

					@media screen and (min-width: 1024px) {
						max-width: 150px;
					}

					&:first-of-type {
						margin-right: 2rem;
					}
				}
			}
		}

		.welcome-section-scroll-down {
			bottom: 0;
		}
	}

	&__section-2 {
		.bulletpoints-box {
			@media screen and (min-width: 1024px) {
				width: 60%;
			}

			li {
				padding-right: 3rem;

				@media screen and (min-width: 1024px) {
					padding-right: 20%;
				}
			}
		}

		img {
			@media screen and (max-width: 1023px) {
				margin-top: 6rem;
			}
		}

		.bg-decoration {
			&__holder {
				margin-top: 4rem;

				// @media screen and (min-width: 1024px) {
				// 	margin-bottom: 30rem;
				// }
			}

			&__content {
				right: 0;
				bottom: 0;
				transform: translate(25%, 0);

				svg {
					height: 35rem;
				}
			}
		}
	}

	&__section-3 {
		.advantage {
			@media screen and (min-width: 1024px) {
				transform: translateX(10%);
			}

			&:nth-of-type(even) {
				@media screen and (min-width: 1024px) {
					margin-top: 0rem;
				}
			}

			&__wrapper {
				// @media screen and (min-width: 1024px) {
				// 	margin-left: 5%;
				// }

				> * {
					padding: 0.75rem 1.25rem;
					position: relative;

					@media screen and (min-width: 1024px) {
						padding: 1.25rem 1.75rem;
					}
				}
			}

			&__img-wrapper {
				text-align: center;

				@media screen and (min-width: 1024px) {
					width: 60%;
					// text-align: right;
				}

				img {
					width: 5rem;
					height: 5rem;
					object-fit: contain;

					@media screen and (min-width: 1024px) {
						transform: translateX(50%);
					}
				}
			}

			&__title-wrapper,
			&__paragraph-wrapper {
				@media screen and (min-width: 1024px) {
					width: 80%;
				}
			}

			&__title-wrapper {
				color: $color__main-theme--turquoise;
				text-align: center;
			}
		}

		.bg-decoration {
			&__holder {
				margin-top: 4rem;
			}

			&__content {
				right: 0;
				bottom: 0;
				transform: translateY(100%);

				svg {
					height: 20rem;
				}
			}
		}
	}

	&__section-4 {
		.bg-decoration__holder {
			@media screen and (max-width: 1023px) {
				display: none;
			}
		}

		.bg-decoration__content {
			transform: translate(-25%, -10%);
		}

		.section-4 {
			&__title {
				p,
				h2 {
					padding-left: 1em;
				}
			}

			&__bg {
				position: relative;
				background-size: contain;
				background-repeat: no-repeat;
				display: flex;

				@media screen and (min-width: 1024px) {
					width: 65%;
				}

				img {
					max-height: 360px;
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					background: rgba(0, 57, 142, 0.1);
					background: linear-gradient(
						0deg,
						rgba(0, 57, 142, 0.5578606442577031) 0%,
						rgba(255, 255, 255, 0) 75%
					);
				}

				h2 {
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 0;
				}
			}

			&__paragraph-wrapper {
				margin-top: 4rem;
				margin-left: auto;
				padding: 1rem;

				@media screen and (min-width: 1024px) {
					width: 50%;
				}

				padding: 2rem 15% 4rem 3rem;
				border-top: 2px solid $color__main-theme--turquoise;
				border-left: 2px solid $color__main-theme--turquoise;
			}

			&__cta-wrapper {
				margin-top: 4rem;
			}
		}
	}

	&__section-5 {
		margin-bottom: 0;

		.blog-new-posts {
			margin-bottom: 6rem;
			padding-bottom: 6rem;
			border-bottom: 1px solid $color__main-theme--blue-transparent;

			margin-top: 6rem;
			padding-top: 6rem;
			border-top: 1px solid $color__main-theme--blue-transparent;
		}
	}

	&__section-6 {
		margin-bottom: 4rem;

		@media screen and (min-width: 1024px) {
			margin-bottom: 6rem;
		}
	}
}

.get-to-know-us {
	&__element-wrapper {
		flex: 1;
		margin-bottom: 4rem;
		padding-bottom: 4rem;

		&:first-of-type {
			border-bottom: 1px solid $color__main-theme--blue-transparent;

			@media screen and (min-width: 1024px) {
				border-bottom: none;
			}
		}

		@media screen and (min-width: 1024px) {
			margin: 0;
		}

		// img {
		// 	max-width: 300px;
		// }

		.contact-icon {
			margin-right: 1.5rem;

			&__email {
				svg {
					height: 2.35rem;
					width: 2.35rem;
				}
			}

			&__linkedin {
				svg {
					height: 2rem;
					width: 2rem;
				}
			}
		}

		.icons-wrapper {
			margin-right: 1.5rem;
		}
	}

	.translator__top {
		padding-left: 0;
	}
}
