.joinus {
	.welcome-view {
		margin-bottom: 6rem;
	}

	&__section-5 {
		.title {
			display: flex;
			width: fit-content;

			@media screen and (min-width: 1024px) {
				padding-left: 2rem;
			}

			svg {
				width: 280px;
				height: 100%;

				@media screen and (min-width: 1024px) {
					width: 375px;
				}
			}

			.holder {
				position: absolute;
				left: 50%;
				transform: translate(-30%, 45%);

				@media screen and (min-width: 1024px) {
					left: 50%;
					transform: translate(-15%, 40%);
				}
			}

			h2,
			p {
				max-width: 330px;
				min-width: 310px;
			}
		}

		.advantage {
			// max-width: 300px;
			// min-width: 30%;

			@media screen and (min-width: 1024px) {
				flex: 50%;
			}

			img {
				width: 125px;
				height: 110px;
				object-fit: contain;
			}

			&__title-wrapper {
				margin: 3rem auto 1rem;
			}

			&__paragraph-wrapper {
				max-width: 350px;
			}

			&:nth-of-type(odd) {
				margin-top: 10rem;
			}

			&:nth-of-type(even) {
				margin-top: 0;

				.corner__decoration {
					border-color: $color__main-theme--blue;
				}
			}
		}
	}
}
