.whyus {
	.welcome-view {
		.bg-decoration__content {
			transform: translate(25%, -25%);
		}
	}

	&__section-2 {
		svg {
			display: none;

			@media screen and (min-width: 1024px) {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				transform: translate(0%, -25%);
				height: 550px;
			}
		}
	}

	&__section-3 {
		.cards-wrapper {
			column-gap: 7.5%;
			align-items: flex-start;
			justify-content: space-around;

			.card {
				flex: 1 1 27.5%;
			}

			img {
				max-height: 150px;
			}
		}
	}
}
