.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 1.5em;
}

.grid {
	display: grid;

	&--desktop-2x2 {
		@media screen and (min-width: 992px) {
			grid-template-columns: 50%;
		}
	}
}
