$profile-picture-decoration-spacing: -8.5%;

.account {
	position: relative;

	&__private {
		svg {
			fill: $color__inactive-element;
			pointer-events: none;
		}
	}

	&__public {
		svg {
			fill: $color__success-green;
			pointer-events: none;
		}
	}

	&__privacy-status-holder {
		// position: absolute;
		// top: $profile-picture-decoration-spacing;
		// left: $profile-picture-decoration-spacing;
	}

	&__not-approved {
		svg {
			fill: $color__inactive-element;
			pointer-events: none;
		}
	}

	&__approved {
		svg {
			fill: $color__verified-blue;
			pointer-events: none;
		}
	}

	&__approval-status-holder {
		position: absolute;
		bottom: $profile-picture-decoration-spacing;
		right: $profile-picture-decoration-spacing;
	}

	&__welcome-message {
		margin-bottom: 2rem;

		h3:first-of-type {
			margin-bottom: 0;
		}

		#progressRing {
			position: relative;
			overflow: visible;
			// border: 2px solid $color__main-theme--turquoise;
			border-radius: 100%;
			font-weight: 500;
			z-index: 1;

			width: 75px;
			min-width: 75px;
			height: 75px;
			min-height: 75px;
			padding: 0.35rem;

			&:after,
			&:before {
				content: "";
				position: absolute;
			}

			&:after {
				height: 100%;
				background: linear-gradient(225deg, #18a0aa, transparent);
				width: 100%;
				top: 0;
				border-radius: 100%;
				left: 50%;
				transform: translateX(-50%) scale(1.05);
				z-index: -2;
			}

			&:before {
				height: 100%;
				background: $color__background-body;
				width: 100%;
				top: 0;
				border-radius: 100%;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
			}

			@media screen and (min-width: 1024px) {
				margin-left: 3rem;
				width: 125px;
				min-width: 125px;
				height: 125px;
				min-height: 125px;
				padding: 0.85rem;
			}

			.progressbar-text {
				font-size: 0.75rem;
				@media screen and (min-width: 1024px) {
					font-size: 1.25rem;
				}
			}

			// &:after {
			// 	position: absolute;
			// 	content: "";
			// 	width: 150px;
			// 	height: 150px;
			// 	top: 15px;
			// 	left: -85px;
			// 	background: white;
			// 	filter: blur(30px);
			// }
		}

		#fillTheseFields {
			display: block;
			margin-top: 1rem;
			cursor: pointer;
		}

		svg {
			overflow: visible;
		}
	}

	&__fill-completeness-wrapper {
		display: flex;
		align-items: center;

		h2 {
			z-index: 1;
		}
	}

	// &__fill-completeness-wrapper.hide {
	// 	display: none;
	// }

	&__container {
		display: flex;
		justify-content: space-between;
		flex-flow: column;

		@media screen and (min-width: 1024px) {
			flex-flow: row;
		}
	}

	&__side-menu {
		border: 1px solid $color__border-element;
		padding: 1em;

		@media screen and (min-width: 1024px) {
			width: 25%;
		}

		.account__user-fullname {
			text-align: center;
			line-height: 1;
			@include fluid-type($min_width, $max_width, 24px, 28px);
			color: $color__main-theme--blue;
		}
	}

	&__main {
		border: 1px solid $color__border-element;
		padding: 3em 0em;

		@media screen and (min-width: 1024px) {
			padding: 3em 4em;
			width: 75%;
		}
	}

	&__navigation {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			padding: 0.5em;
		}

		a {
			text-decoration: none;
			display: block;
			text-align: center;
		}
	}

	.profile-section {
		scroll-margin-top: 6rem;

		@media screen and (min-width: 1024px) {
			scroll-margin-top: 8rem;
		}
	}

	.profile-section--active {
	}

	.profile-section--not-active {
		position: absolute;
		z-index: -10;
		opacity: 0;
		display: none;
	}

	&__box-container {
		position: relative;
		border: 2px solid $color__main-theme--blue;
		scroll-margin: 4rem;
		border-radius: 20px;
		box-shadow: $box-shadow_standard;
		// @media screen and (min-width: 1024px) {
		// 	padding: 3em 4em;
		// }

		.my-ajax-loader {
			border-radius: 20px;
		}
	}

	.edit-box {
		display: none;
	}

	.box {
		&--active {
			display: block;
		}

		&--not-active {
			display: none;
		}
	}

	#edit-about-info {
		#about_user_data_form {
			label {
				justify-content: flex-end;
			}

			textarea {
				min-height: 150px;
			}
		}
	}

	input[type="file"] {
		color: transparent;
		max-width: 320px;
	}

	&__settings {
		.account__box-container {
			border: none;
			box-shadow: none;
		}

		// .button__edit-account-content {
		// 	right: 0rem;
		// 	top: 1rem;
		// }

		input[type="text"] {
			width: 100%;
		}

		// input {
		// 	width: calc(100% - 2rem);
		// }
	}
}

.info-box {
	margin-bottom: 4rem;

	&__header {
		font-size: 1.75rem;
		margin: 0;
		font-weight: 700;
		color: $color__main-theme--blue;
	}

	&__subbox {
		position: relative;
		margin-bottom: 3rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__subbox--max-width {
		max-width: 375px;
	}

	&__subbox-header {
		font-weight: 700;
		font-size: 18px;
	}

	&__checkbox-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;
	}

	p {
		display: flex;
		flex-flow: column;
		word-break: break-word;
		// margin: 0 0 1em 0;
	}
}

.info-box__header,
.content-box {
	padding: $padding__content-box;
}

$profile_picture_top_distance: 0rem;
$profile_picture_height: 175px;
$profile_picture_width: 175px;

.profile-picture {
	&__wrapper {
		position: relative;

		.post-thumbnail {
			position: absolute;
			left: 50%;
			width: 100%;
			top: $profile_picture_top_distance;
			transform: translateX(-50%);
			// z-index: 1;

			display: flex;
			justify-content: center;
			align-items: center;

			img {
				border-radius: 100%;
				height: $profile_picture_height;
				width: $profile_picture_width;
				object-fit: contain;
			}

			&__wrapper {
				position: relative;
			}
		}

		// .my-ajax-loader {
		// 	height: $profile_picture_height;
		// }

		form#upload_profile_picture_form {
			display: flex;
			flex-flow: column;
			padding-top: $profile_picture_top_distance;

			input[type="submit"] {
				transform: translateY(-300%);
				opacity: 0;
				transition: 0.3s ease-in-out;
			}

			input[type="submit"].reveal-button {
				transform: translateY(0%);
				opacity: 1;
			}
		}

		.file-input {
			&__label {
				display: flex;
				justify-content: center;
				align-items: center;

				.input-preview__wrapper {
					position: relative;
					border-radius: 100%;
					overflow: hidden;

					&:before {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						background-color: transparent;
						transition: $transition__button--standard;
						// border: 1px solid $color__border-element;
						border-radius: 100%;
					}

					&:after {
						content: "";
						background-image: url(../dist/svg/add_photo_white.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						width: 35px;
						height: 35px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						color: white;
						z-index: 2;
						opacity: 0;
						transition: $transition__button--standard;
					}

					&:hover {
						&:before {
							background-color: rgba(50, 50, 50, 0.25);
						}

						&:after {
							opacity: 1;
						}
					}
				}

				.preview-mode {
					&:before {
						background-color: rgba(50, 50, 50, 0.25);
					}
				}

				.has-image {
					.input-preview {
						visibility: unset;
					}

					&:before {
						// background-color: rgba(50, 50, 50, 0.25);
					}
				}

				.input-preview {
					display: flex;
					background-color: transparent;
					transition: $transition__button--standard;
					height: $profile_picture_height;
					width: $profile_picture_width;
					object-fit: contain;
					visibility: hidden;
				}

				.input-preview__src {
					display: none;

					&::-webkit-file-upload-button {
						visibility: hidden;
					}
				}

				// .input-preview::after {
				// 	position: absolute;
				// 	top: 50%;
				// 	left: 0;
				// 	width: 100%;
				// 	text-align: center;
				// 	transform: translateY(50%);
				// 	// content: "Choose a file...";
				// 	font-style: italic;
				// 	font-size: 1em;
				// }

				// .has-image {
				// 	z-index: 2;
				// 	background-color: $color__background-body;
				// }

				// .has-image::after {
				// 	content: "Choose another file...";
				// 	color: white;
				// }
			}
		}
	}
}

.contact-info-container {
	.wrapper-flex-drow-mcol {
		margin: 2rem 0;

		&__first-element {
			@media screen and (min-width: 1024px) {
				width: 150px;
			}
		}
	}
}

.my-pictures,
.my-videos,
.my-sounds {
	&__gallery-attachment {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		padding: 1rem 0;
		width: 100%;

		&--hovered {
			.remove-item {
				transform: scale(1);
			}
		}

		svg,
		img,
		p {
			pointer-events: none;
		}
	}

	&__new-attachment__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.my-pictures {
	&__gallery-attachment {
		justify-content: center;
	}
}

.my-videos,
.my-sounds {
	&__gallery-attachment {
		column-gap: 1rem;

		svg {
			// width: 2rem;
			min-width: 35px;
			width: 35px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

.my-sounds {
	&__gallery {
		&-row-wrapper {
			display: flex;
			align-items: center;
			position: relative;
			margin: 1rem 0;
		}

		&-text-wrapper {
			pointer-events: none;
		}

		&-attachment {
			&--label {
				font-weight: 700;
			}

			&--description {
			}

			&--file-info {
				pointer-events: none;
				padding: 0 2rem;
			}
		}
	}
}

.options {
	margin: 0;
	padding: 0;

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	&__switch {
		// input[type="checkbox"] {
		// 	height: 0;
		// 	width: 0;
		// 	visibility: hidden;
		// }

		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 40px;
			height: 20px;
			background: $color__inactive-element;
			display: block;
			border-radius: 20px;
			position: relative;
		}

		label:after {
			content: "";
			position: absolute;
			top: 3px;
			left: 3px;
			width: 14px;
			height: 14px;
			background: #fff;
			border-radius: 18px;
			transition: 0.3s;
		}

		&--on {
			label {
				background: $color_special-elements;
			}

			label:after {
				left: calc(100% - 5px);
				transform: translateX(-100%);
			}
		}

		label:active:after {
			width: 26px;
		}
	}

	&__to-be-approved {
		label {
			height: auto;
			background: none;

			&:after {
				display: none;
			}
		}

		svg {
			display: block;
			height: 30px;
			margin: auto;
			fill: $color__pending;
		}
	}
}

.membership_package {
	max-width: 350px;

	&__list {
		margin: 0;
		padding: 0;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0;
		}
	}
}

#emptyProfileFieldsLabels {
	display: none;
	margin: 2rem 0;
	p {
		margin-bottom: 0.5rem;
	}
}

.show-empty-fields {
	display: block !important;
}
