//Common

.translator__top {
	// padding-left: calc(#{$corner-decoration-spacing * -1});
	width: 12rem;

	img {
		width: 12rem;
		height: 12rem;
		// object-fit: contain;
		border-radius: 100%;
		object-position: top;
		object-fit: cover;
	}
}

//Blog

.archive-translator {
	.page-title {
		padding: 0.75rem 0;
		width: fit-content;
		border-bottom: 2px solid $color__main-theme--turquoise;
		margin: auto;
		margin-bottom: 2rem;

		@media screen and (min-width: 1024px) {
			margin-right: auto;
			margin-left: 0;
		}
	}

	// .archive-translator {
	// 	&__article-list-wrapper {
	// 		padding: 0 1rem;

	// 		@media screen and (min-width: 1024px) {
	// 			padding: 0;
	// 		}
	// 	}
	// }
}

.post-count {
	color: $color__main-theme--turquoise;
	position: relative;
	width: fit-content;

	&::before {
		content: "";
		position: absolute;
		top: -1rem;
		height: 2px;
		width: 125%;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color__main-theme--turquoise;
	}
}

.archive-translators {
	.search {
		&__container {
			margin-bottom: 4rem;

			// @media screen and (min-width: 1024px) {
			// 	margin-bottom: 4rem;
			// }

			h1,
			h2 {
				text-align: center;
				@media screen and (min-width: 1024px) {
					text-align: left;
				}
			}
		}
	}

	.searchfilter {
		&__wrapper {
			padding-top: 3rem;

			@media screen and (min-width: 1024px) {
				padding-top: 4rem;
			}

			ul {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				column-gap: 1.5rem;
				// justify-content: center;
				// align-items: center;
				padding: 0;
				margin: 0;

				@media screen and (max-width: 1023px) {
					row-gap: 0.5rem;
				}
			}

			// li.sf-field-taxonomy-translator_localization {
			// 	@media screen and (min-width: 1024px) {
			// 		max-width: 250px;
			// 	}
			// }

			// li.sf-field-sort_order {
			// 	@media screen and (min-width: 1024px) {
			// 		max-width: 150px;
			// 		margin-left: 5rem;
			// 	}
			// }
		}
	}

	#search__results-wrapper {
		@media screen and (min-width: 1024px) {
			margin: 4rem 0 6rem;
		}

		.archive-translator__article-list-wrapper {
			row-gap: 2rem;

			@media screen and (max-width: 1023px) {
				margin-bottom: 4rem;
			}

			@media screen and (min-width: 1024px) {
				flex: 1 1 75%;
			}
		}

		.search__side-bar {
			@media screen and (min-width: 1024px) {
				flex: 1 1 25%;
			}
		}
	}

	.translator {
		background-color: $color__background-body;
		// border-top: 1px solid $color__main-theme--blue-transparent;
		padding: 1.5rem 1.5rem;
		border-radius: $border-radius--standard;
		box-shadow: $box-shadow_standard--black;

		@media screen and (min-width: 1024px) {
			padding: 2rem 2rem;
		}

		// &:first-of-type {
		// 	margin-top: 4rem;
		// }

		// &:last-of-type {
		// 	// border-bottom: 1px solid $color__main-theme--blue-transparent;
		// 	margin-bottom: 6rem;
		// }

		&__upper {
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			@media screen and (min-width: 1024px) {
				flex-flow: row;
				column-gap: 2rem;
				// margin-bottom: 2rem;
			}
		}

		&__top {
			margin: auto auto 2rem;
			max-width: 250px;
			// width: 75%;

			@media screen and (min-width: 1024px) {
				margin: unset;
				max-width: 150px;
				// width: 20%;
			}

			.translator__websites-wrapper {
				@media screen and (max-width: 1024px) {
					position: absolute;
					top: 0;
					right: 0;
					display: flex;
					flex-flow: column;
				}
			}
		}

		.profile-picture__wrapper {
			width: 100%;

			img {
				width: 8rem;
				height: 8rem;
			}
		}

		.account__approved {
			position: absolute;
			top: -0.5em;
			right: -1em;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		&__middle {
			margin: auto auto 2rem;
			width: 100%;
			@media screen and (min-width: 1024px) {
				margin: unset;
				flex: 1 1 50%;
			}
		}

		.entry-header {
			@media screen and (max-width: 1023px) {
				> * {
					justify-content: center;
				}

				.entry-title {
					@include fluid-type($min_width, $max_width, 24px, 26px);
					margin: auto;
					max-width: 90%;
					text-align: center;
				}
			}

			@media screen and (min-width: 1024px) {
				.entry-title {
					padding-right: 1rem;
				}
			}
		}

		&__bottom {
			margin: auto auto 2rem;
			width: 100%;
			@media screen and (min-width: 1024px) {
				margin: unset;
				flex: 1 1 50%;
			}

			// p {
			// 	margin-right: 1.5rem;

			// 	@media screen and (min-width: 1024px) {
			// 		margin-right: 3rem;
			// 	}
			// }

			li {
				margin-right: 3rem;

				@media screen and (min-width: 1024px) {
					margin-right: 6rem;
				}
			}

			.wrapper-flex {
				&:first-of-type {
					margin-bottom: 1rem;
				}
			}
		}

		&__localizations,
		&__distance {
			color: $color__text--dark-grey;

			.icon {
				margin-right: 0.5rem;

				svg {
					width: 24px;
					height: 24px;
				}
			}
		}

		&__about-header {
			padding-top: 0;
		}

		&__about-content {
			padding-top: 0.75rem;
		}

		&__languages {
			ul {
				margin-bottom: 1rem;
			}

			li {
				text-transform: lowercase;
			}
		}

		&__localizations,
		&__languages,
		&__specializations {
			ul {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				// p {
				// 	width: 8rem;
				// }
			}
		}

		&__languages,
		&__specializations {
			ul {
				@media screen and (max-width: 1023px) {
					flex-flow: column;
					align-items: flex-start;
				}
			}
		}

		&__icons-wrapper {
			// margin-top: 2rem;
			// text-align: right;

			svg {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__translator-info-wrapper {
		display: flex;
		flex-flow: column;
	}
}

.blog-posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3rem;
	grid-row-gap: 4rem;
	width: 100%;

	@media screen and (max-width: 1023px) {
		grid-template-columns: auto;
	}

	.tile {
		// flex: 0 0 33.333333%;
		display: flex;
		flex-flow: column;
		min-height: 300px;
		overflow: hidden;
		padding: 0;
		background: $color__background-body;
		box-shadow: $box-shadow_standard--black;
		border-radius: $border-radius--standard;

		p {
			margin-top: 0;
		}

		.thumbnail {
			background-size: cover;
			min-height: 250px;
			display: flex;
			position: relative;

			&:after {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 57, 142, 0.1);
				transition: $transition_regular;
			}
		}

		&:hover {
			.thumbnail {
				&:after {
					background: rgba(0, 57, 142, 0);
				}
			}
		}
	}

	&__text {
		padding: 1.5em;
		transform: translateY(-1.5rem);
		width: 90%;
		margin: auto;
		background: $color__background-body;
	}
}

.no-results-message {
	margin-bottom: 4rem;

	@media screen and (max-width: 1023px) {
		flex-flow: column-reverse;
		svg {
			margin-bottom: 2rem;
		}
	}

	@media screen and (min-width: 1024px) {
		width: 75%;
	}

	&__text {
		padding-right: 2rem;
	}

	svg {
		max-width: 150px;
		max-height: 150px;
	}
}
