.archive-translator {
	article.translator {
		display: flex;
		justify-content: space-between;
		padding: 3em;

		& > * {
			width: 33%;
		}

		.post-thumbnail {
			display: block;
		}
	}

	&__translator-info-wrapper {
		display: flex;
		flex-flow: column;
	}
}
