//Common

.translator__top {
	// padding-left: calc(#{$corner-decoration-spacing * -1});
	width: 12rem;

	img {
		height: 10rem;
		width: 10rem;
		// object-fit: contain;
		border-radius: 100%;
		object-position: top;
		object-fit: cover;
	}
}

//Blog

.blog {
	.page-title {
		padding: 0.75rem 0;
		width: fit-content;
		border-bottom: 2px solid $color__main-theme--turquoise;
		margin: auto;
		margin-bottom: 4rem;

		@media screen and (min-width: 1024px) {
			margin-right: auto;
			margin-left: 0;
		}
	}

	.archive-translator {
		&__article-list-wrapper {
			padding: 0 1rem;

			@media screen and (min-width: 1024px) {
				padding: 0;
			}
		}
	}
}

.post-count {
	color: $color__main-theme--turquoise;
	position: relative;
	width: fit-content;

	&::before {
		content: "";
		position: absolute;
		top: -1rem;
		height: 2px;
		width: 125%;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color__main-theme--turquoise;
	}
}

.archive-translators {
	.search {
		&__container {
			margin-bottom: 10rem;

			@media screen and (min-width: 1024px) {
				margin-bottom: 8rem;
			}

			h1,
			h2 {
				text-align: center;
				@media screen and (min-width: 1024px) {
					text-align: left;
				}
			}
		}
	}

	.searchfilter {
		&__wrapper {
			padding-top: 3rem;

			@media screen and (min-width: 1024px) {
				padding-top: 7rem;
			}

			ul {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				column-gap: 1.5rem;
				// justify-content: center;
				// align-items: center;
				padding: 0;
				margin: 0;

				@media screen and (max-width: 1023px) {
					row-gap: 0.5rem;
				}
			}
		}

		li.sf-field-submit {
			h4 {
				color: transparent;
				// height: 1rem;
				// display: none;
			}
		}
	}

	.translator {
		border-top: 1px solid $color__main-theme--blue-transparent;
		padding: 6rem 0;

		@media screen and (min-width: 1024px) {
			padding: 2rem 2rem;
		}

		&:first-of-type {
			border-top: 0;
		}

		&:last-of-type {
			border-bottom: 1px solid $color__main-theme--blue-transparent;
			margin-bottom: 6rem;
		}

		&__upper {
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			@media screen and (min-width: 1024px) {
				flex-flow: row;
				column-gap: 4rem;
			}
		}

		.entry-header {
			text-align: center;
			@media screen and (min-width: 1024px) {
				text-align: unset;
			}
		}

		&__top {
			margin: auto auto 2rem;
			max-width: 250px;
			// width: 75%;

			@media screen and (min-width: 1024px) {
				margin: unset;
				max-width: 280px;
				// width: 20%;
			}
		}

		&__middle {
			margin: auto auto 2rem;
			width: 100%;
			@media screen and (min-width: 1024px) {
				margin: unset;
				width: 40%;
				padding: 0 2rem;
			}
		}

		&__bottom {
			margin: auto auto 4rem;
			width: 100%;
			@media screen and (min-width: 1024px) {
				margin: unset;
				width: 30%;
			}

			p {
				margin-right: 1.5rem;

				@media screen and (min-width: 1024px) {
					margin-right: 3rem;
				}
			}

			li {
				margin-right: 3rem;

				@media screen and (min-width: 1024px) {
					margin-right: 6rem;
				}
			}

			.wrapper-flex {
				&:first-of-type {
					margin-bottom: 1rem;
				}
			}
		}

		&__about {
			p {
				padding: 0.75rem 0;

				// &:first-of-type {
				// 	border-bottom: 1px solid $color__main-theme--turquoise;
				// }
			}
		}

		&__languages {
			li {
				text-transform: lowercase;
			}
		}

		&__languages,
		&__specializations {
			ul {
				display: flex;
				align-items: center;
			}
		}

		&__icons-wrapper {
			margin-top: 2rem;
			text-align: right;
		}
	}

	&__translator-info-wrapper {
		display: flex;
		flex-flow: column;
	}
}

.no-results-message {
	svg {
		max-width: 250px;
		max-height: 250px;
	}
}
