/* POSTS AND PAGES */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.site-main__coming-soon {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	.wrapper {
		max-width: 90%;
	}

	.custom-logo-link {
		display: initial;

		img {
			box-shadow: $box-shadow_standard;
		}
	}

	h1 {
		text-align: center;
		font-size: 32px;
		font-weight: 200;
	}

	.social-media {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-flow: column;

		p {
			text-align: center;
			margin: 1rem;
		}
	}

	.social-media-icons {
		display: flex;

		.icon {
			height: 30px;
			width: 30px;
		}
	}
}

article.translator {
	border: 1px solid #ccc;

	.post-thumbnail {
		img {
			height: $profile_picture_height;
			width: $profile_picture_width;
			border-radius: 100%;
			object-fit: contain;
		}
	}
}
