.site-header {
	padding-top: 1rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	background-color: $color__background-body;
}

// section,
.site-header,
.site-content {
	padding-left: 1rem;
	padding-right: 1rem;

	@media screen and (min-width: 992px) {
		padding-left: 7.5%;
		padding-right: 7.5%;
	}
}

.site-content {
	padding-top: 6rem;

	@media screen and (min-width: 992px) {
		padding-top: 8rem;
	}
}

::selection {
	background: $color__main-theme--turquise-transparent;
}

.list {
	&--clear {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.list-item--classic {
	padding: 1rem 0;
}

.wrapper-flex-drow-mcol {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 992px) {
		flex-flow: row;
		column-gap: 2rem;
	}
}

.wrapper-flex-col-start {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.wrapper-flex-tiles {
	margin: 4rem 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper-flex-wrap {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	column-gap: 2rem;
}

.blog-post-tile {
	max-width: 350px;
}

.wrapper-flex-col-center {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.col-d50 {
	@media screen and (min-width: 992px) {
		width: 50%;
	}
}

.padding {
	&__1 {
		padding: 1rem;
	}
}

.tile {
	border: 1px solid grey;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	display: none;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}

.modal-message-holder {
	padding: 1rem 2rem;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.close-button:hover {
	background-color: darkgray;
}

.unlock-modal {
	display: initial;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	z-index: 1000;
}

.show__only-in-modal {
	display: none;
}

.php-error {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color__background-body;

		text-align: center;
	}

	&__content {
		color: $color__error-red;
		margin: auto;
	}

	&__text {
		color: $color__error-red;
	}
}

.php-success {
	&__text {
		color: $color__success-green;
	}
}

// .searchandfilter {
// 	margin-top: 2rem;

// 	ul {
// 		margin: 0;
// 		padding: 0;
// 	}

// 	label {
// 		cursor: pointer;
// 		display: flex;
// 		align-items: center;
// 	}

// 	li {
// 		padding-right: 20px;
// 	}

// 	ul {
// 		ul {
// 			display: flex;
// 			flex-flow: column;

// 			li {
// 				padding: 0.5em 0;
// 			}
// 		}
// 	}

// 	select {
// 		padding: 5px;
// 	}
// }

.page,
.blog {
	.searchfilter {
		&__wrapper {
			form > ul {
				display: flex;
				flex-flow: column;
				padding: 0;
				margin: 0;

				@media screen and (min-width: 992px) {
					flex-flow: row;
					// justify-content: space-between;
					flex-wrap: wrap;
					column-gap: 1.5rem;
				}
			}

			// .sf-field-sort_order {
			// 	select {
			// 		padding: 0.618rem 1rem !important;
			// 		border: none;
			// 		box-shadow: 0 4px 16px 0 rgb(22 42 90 / 21%);
			// 		min-width: 220px;
			// 	}
			// }

			.sf-field-submit input[name="_sf_submit"] {
				width: 100% !important;
				// min-width: 220px;

				// @media screen and (min-width: 992px) {
				// 	width: auto !important;
				// }
			}

			.select2-container {
				width: 100% !important;
				// min-width: 220px;
				background: white;
				border-radius: 100rem;

				// @media screen and (min-width: 992px) {
				// 	width: auto !important;
				// }
			}
		}

		// ul li li {
		// 	padding: 0;
		// }
	}

	.searchandfilter {
		h4 {
			padding: 0.618rem 1rem !important;
			color: $color__main-theme--blue;
		}

		li {
			flex: 1 1 0px;
			z-index: 1;
			// .select2-container label {
			// 	border: 2px solid #16538c;
			// 	border-radius: 100rem;
			// 	background: transparent;
			// 	box-shadow: 0px 0px 7px #16538c3a;
			// 	overflow: hidden;
			// }
		}
	}

	.select2-selection--multiple,
	.select2-selection--single,
	.sf-field-sort_order select {
		cursor: pointer;
		height: auto;
		padding: 0.75em 1.25em !important;
		line-height: 0 !important;
		font-size: 1rem;
		min-height: 52px;
		min-width: 220px;
		border: 2px solid #16538c !important;
		border-radius: 100rem !important;
		background: transparent !important;
		box-shadow: 0px 0px 7px #16538c3a;
		overflow: hidden;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:after {
			content: url(../dist/svg/arrow_down_blue.svg);
			align-self: flex-end;
		}

		.select2-selection__rendered {
			padding: 0;
			display: flex !important;
			flex-flow: column;
			line-height: 1.5 !important;
		}
	}

	.sf-field-sort_order label {
		position: relative;
		select {
			// position: relative;
			// -webkit-appearance: none;
			// -moz-appearance: none;
			// text-indent: 1px;
			// text-overflow: "";
			// appearance: none;

			// -o-appearance: none;
			// -ms-appearance: none;
			// -webkit-appearance: none;
			// -moz-appearance: none;
			// appearance: none;
		}

		/* For IE10 */
		// select::-ms-expand {
		// 	display: none;
		// }

		&:after {
			content: url(../dist/svg/arrow_down_blue.svg);
			align-self: flex-end;
			position: absolute;
			top: 28%;
			right: 5px;
			background: white;
			border-radius: 100rem;
			width: 25%;
			display: flex;
			justify-content: center;
		}
	}

	// .select2-container--open {
	// 	.select2-results__options {
	// 		transform: translate(0, 12px) scale(1) !important;
	// 		opacity: 1 !important;
	// 		filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
	// 	}
	// }

	.show-dropdown {
		.select2-results__options {
			transform: translate(0, 12px) scale(1) !important;
			opacity: 1 !important;
			filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
		}
	}

	li.sf-field-submit {
		h4 {
			color: transparent;
		}

		input {
			color: $color__text-white;
			padding: 0.75em 1.25em;
			border: 2px solid #16538c;
			border-radius: 100rem;
			background: #16538c;
			box-shadow: 0px 0px 7px #16538c3a;
			transition: $transition__button--standard;

			&:hover {
				color: #16538c;
				background: transparent;
			}
		}
	}

	.select2 {
		&-dropdown {
			border: none;
			box-shadow: 0 4px 16px 0 #162a5a36;
			margin-top: 1rem;

			&--below {
				background: transparent;
				border-radius: 8px !important;
				margin-top: 0;
				height: auto;
				border: none !important;
				box-shadow: none;

				.select2-search__field {
					outline: none;
					border: none;
					transform: translateY(-190%);
					line-height: 0 !important;
					padding: 0;
					margin-left: calc(1rem + 5px) !important; //border width
					position: absolute;
					max-width: 75%;
				}
			}
		}

		&-search {
			padding: 0;
		}

		&-search__field {
			width: 100% !important;
			margin-top: 0px !important;

			cursor: pointer;

			&::placeholder {
				color: #9e9e9e;
			}
		}

		&-selection {
			&__arrow {
				b {
					display: none;
				}
			}

			&__choice {
				display: none !important;
			}

			&__choice {
				margin: 2px !important;
				padding-right: 1.5rem;
				position: relative;

				&__remove {
					color: transparent;
					top: 0.45rem;
					right: 0.65rem;

					&:after {
						content: "";
						background-image: url(../dist/img/spinner.gif);
					}
				}
			}
		}

		&-results {
			&__options {
				background: $color__background-body;
				max-height: 20rem !important;
				visibility: visible !important;

				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 16px;
				z-index: 1;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				// visibility: hidden;
				opacity: 0;
				border-radius: 8px;
				transform: translate(0, 20px) scale(0.8);
				transform-origin: 0 0;
				filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
				transition: all 0.4s ease,
					transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44),
					filter 0.3s ease 0.2s;
				// transition-duration: 2s;

				&::-webkit-scrollbar {
					background: transparent;
					width: 10px;
					height: 10px;
				}
				&::-webkit-scrollbar-track {
					border-radius: 10px;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 20px;
					background: $color__main-theme--turquise-transparent;
				}
			}

			$width_optionbox: 1em;
			$height_optionbox: 1em;
			$right_optionbox: 1em;

			&__option {
				padding: 0.75em 1.25em;
				position: relative;

				&:after {
					content: "";
					width: $width_optionbox;
					height: $height_optionbox;
					border: 1px solid transparent;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: $right_optionbox;
				}

				&--highlighted {
					background-color: $color__main-theme--blue !important;

					&:before {
						filter: brightness(0) invert(1);
						// background-image: url(../dist/svg/remove.svg);
					}
				}

				&--highlighted[aria-selected="true"] {
					background-color: $color__main-theme--blue !important;

					&:before {
						filter: brightness(0) invert(1);
						// background-image: url(../dist/svg/remove.svg);
					}
				}
			}

			&__option[aria-selected="true"] {
				background-color: transparent;

				&:before {
					content: "";
					background-image: url(../dist/svg/checking-mark.svg);
					background-size: cover;
					background-repeat: no-repeat;
					width: 1em;
					height: 1em;
					position: absolute;
					top: 50%;
					transform: translate(50%, -50%);
					right: calc(#{$right_optionbox} + (#{$width_optionbox} / 2));
				}
			}

			&__message {
				&:after {
					display: none;
				}

				&:before {
					display: none;
				}
			}
		}
	}
}

.remove-item {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-color: black;
	// background-image: url(../dist/svg/close_icon_white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;

	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 32px;
	transform: scale(0);
	transition: $transition__button--standard;

	&:after {
		color: white;
		content: "\d7";
		transition: $transition__button--standard;
	}

	&:hover {
		&:after {
			color: $color__error-red;
		}
	}
}

.progress {
	margin-top: 1rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	z-index: 99999;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	&-show {
		opacity: 1;
	}

	&-bar {
		height: 5px;
		background: $color_special-elements;
		border-radius: 5px;
		transition: all 0.1s linear;
		width: 0%;
	}

	&-percents {
		width: 100%;
		text-align: center;
	}
}

.important-visible {
	display: block !important;
	position: static !important;

	.new-attachment__icon {
		display: block !important;
	}
}

.important-invisible {
	display: none !important;
	position: absolute !important;

	.new-attachment__icon {
		display: none !important;
	}
}

.common-box {
	&__new-posts {
		margin: 4em 0;

		h2 {
			text-align: center;
		}

		.tile {
			flex: 1;
			min-height: 300px;
			overflow: hidden;

			a {
				display: block;
				height: 100%;
				width: 100%;
			}

			.thumbnail {
				background-size: cover;
				height: 100%;
			}
		}
	}
}

.blog-post {
	&--box {
	}
}
