// section,
.site-header,
.site-content {
	padding-left: $padding-site-content;
	padding-right: $padding-site-content;

	@media screen and (min-width: 1024px) {
		padding-left: $padding-site-content-1024;
		padding-right: $padding-site-content-1024;
	}

	@media screen and (min-width: 1280px) {
		padding-left: $padding-site-content-1280;
		padding-right: $padding-site-content-1280;
	}

	@media screen and (min-width: 1536px) {
		padding-left: $padding-site-content-1536;
		padding-right: $padding-site-content-1536;
	}
}

.site-content {
	padding-top: 6rem;

	@media screen and (min-width: 1024px) {
		padding-top: 12rem;
	}
}

.home .site-content {
	@media screen and (min-width: 1024px) {
		padding-top: 10rem;
	}
}

.single-post .site-content {
	@media screen and (min-width: 1024px) {
		padding-top: 10rem;
	}
}

// .page-template-user-account-page-template .site-content,
// .single-translator .site-content,
// .blog .site-content,
// .archive .site-content {
// 	@media screen and (min-width: 1024px) {
// 		padding-top: 10rem;
// 	}
// }

.padding {
	&--standard {
		padding: 1rem 1.25rem;
	}
}

.welcome-view {
	min-height: 65vh;

	@media screen and (min-width: 1024px) {
		min-height: 80vh;
	}

	&__container {
		display: flex;
		flex-flow: column;
		row-gap: 2rem;
		column-gap: 6rem;
		justify-content: space-around;

		@media screen and (min-width: 1024px) {
			flex-flow: row;
		}
	}

	&__left {
		@media screen and (min-width: 1024px) {
			width: 45%;
		}
	}

	&__right {
		@media screen and (min-width: 1024px) {
			width: 45%;
		}
	}

	.image-holder {
		img {
			width: 100%;
			object-fit: contain;
			max-height: 500px;
		}
	}
}

section {
	margin-bottom: 10rem;

	// @media screen and (min-width: 1024px) {
	// 	margin-bottom: 15rem;
	// }
}

::selection {
	background: $color__main-theme--turquoise-transparent;
}

.list {
	&--clear {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.list-item--classic {
	padding: 1rem 0;
}

.wrapper-flex-drow-mcol {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 1024px) {
		flex-flow: row;
		column-gap: 2rem;
		row-gap: 2rem;
	}
}

.drow-reverse {
	@media screen and (min-width: 1024px) {
		flex-flow: row-reverse;
	}
}

.wrapper-flex-col-start {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.wrapper-flex-column {
	display: flex;
	flex-flow: column;
}

.wrapper-flex-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.wrapper-flex-tiles {
	margin: 4rem 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper-flex-wrap {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	column-gap: 2rem;
}

.blog-post-tile {
	max-width: 350px;
}

.wrapper-flex-col-center {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.wrapper-flex-row-spbt {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.w {
	&--fit-content {
		width: fit-content;
	}

	&--full {
		width: 100%;
	}

	&--40 {
		width: 40%;
	}

	&--50 {
		width: 50%;
	}

	&--60 {
		width: 60%;
	}

	&--75 {
		width: 75%;
	}
}

.m {
	&--auto {
		margin: auto;
	}
}

.mb {
	&--05 {
		margin-bottom: 0.5rem;
	}

	&--1 {
		margin-bottom: 1rem;
	}

	&--2 {
		margin-bottom: 2rem;
	}

	&--3 {
		margin-bottom: 3rem;
	}

	&--4 {
		margin-bottom: 4rem;
	}

	&--5 {
		margin-bottom: 5rem;
	}

	&--6 {
		margin-bottom: 6rem;
	}

	&--8 {
		margin-bottom: 8rem;
	}
}

.mt {
	&--05 {
		margin-top: 0.5rem;
	}

	&--1 {
		margin-top: 1rem;
	}

	&--2 {
		margin-top: 2rem;
	}

	&--3 {
		margin-top: 3rem;
	}

	&--4 {
		margin-top: 4rem;
	}

	&--5 {
		margin-top: 5rem;
	}

	&--6 {
		margin-top: 6rem;
	}

	&--7 {
		margin-top: 7rem;
	}

	&--8 {
		margin-top: 8rem;
	}
}

.mr {
	&--05 {
		margin-right: 0.5rem;
	}

	&--1 {
		margin-right: 1rem;
	}

	&--2 {
		margin-right: 2rem;
	}

	&--3 {
		margin-right: 3rem;
	}

	&--4 {
		margin-right: 4rem;
	}

	&--5 {
		margin-right: 5rem;
	}

	&--6 {
		margin-right: 6rem;
	}

	&--8 {
		margin-right: 8rem;
	}
}

.wrap {
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.row {
	flex-flow: row;
}

.flex-row {
	flex-flow: row;
}

.flex-col {
	flex-flow: column;
}

.flex-mcol-drow {
	flex-flow: column;

	@media screen and (min-width: 1024px) {
		flex-flow: row;
	}
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.content-between {
	justify-content: space-between;
}

.content-center {
	justify-content: center;
}

.col-m100-d50 {
	width: 100%;
	@media screen and (min-width: 1024px) {
		width: 50%;
	}
}

.padding {
	&__1 {
		padding: 1rem;
	}
}

.tile {
	// border: 1px solid grey;
	padding: 1em;
}

.dnone {
	display: none;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	transform: scale(1.1);
	transition: all 0.25s ease-in-out;
	pointer-events: none;
	z-index: $z-index-modal;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: fit-content;
	min-width: 450px;
	border-radius: 0.5rem;

	.php-success__text {
		.svg-holder {
			max-width: 100px;
			margin: 2rem auto;
		}
	}

	.php-error__text {
		padding: 0.5rem 0;

		.svg-holder {
			max-width: 1.5rem;
			margin: 0 1rem 0 0;
		}
	}
}

.modal-message-holder {
	padding: 1rem 2rem;
}

.confetti-target {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-button {
	width: 1.5rem;
	line-height: 1.5;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: $color__main-theme--blue;
	color: $color__text-white;
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: $transition__button--standard;
}

.close-button:hover {
	background-color: darken($color__main-theme--blue, 7);
}

.unlock-modal {
}

.show-modal {
	opacity: 1;
	transform: scale(1);
	background-color: #00000080;
	transition: all 0.25s ease-in-out;

	pointer-events: all;
}

.show__only-in-modal {
	display: none;
}

.modal {
	.show__only-in-modal {
		display: block;
	}
}

.php-error {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color__background-body;

		text-align: center;
	}

	&__content {
		color: $color__error-red;
		margin: auto;
		font-weight: 300;
	}

	&__text {
		color: $color__error-red;
	}
}

.php-success {
	&__text {
		color: $color__success-green;
	}
}

.body-loaded {
	.searchfilter {
		&__wrapper {
			&--basic {
				width: 100%;

				@media screen and (min-width: 1024px) {
					max-width: 400px;
				}
			}

			form > ul {
				// display: flex;
				// flex-flow: column;
				// padding: 0;
				// margin: 0;

				// @media screen and (min-width: 1024px) {
				// 	// flex-flow: row;
				// 	// justify-content: space-between;
				// 	// flex-wrap: wrap;
				// 	column-gap: 1.5rem;
				// }
			}

			// .sf-field-sort_order {
			// 	select {
			// 		padding: 0.618rem 1rem !important;
			// 		border: none;
			// 		box-shadow: 0 4px 16px 0 rgb(22 42 90 / 21%);
			// 		min-width: 220px;
			// 	}
			// }

			.sf-field-submit input[name="_sf_submit"] {
				width: 100% !important;
				min-width: 150px;
				// min-width: 220px;

				// @media screen and (min-width: 1024px) {
				// 	width: auto !important;
				// }
			}

			select[name="_sf_sort_order[]"] {
				background: $color__text-white;
			}

			.select2-container {
				width: 100% !important;
				// min-width: 220px;
				background: white;
				border-radius: 100rem;

				// @media screen and (min-width: 1024px) {
				// 	width: auto !important;
				// }
			}

			//Default options on mobile

			@media screen and (max-width: 1024px) {
				[data-sf-field-input-type="multiselect"] .sf-input-select,
				[data-sf-field-input-type="select"] .sf-input-select {
					min-height: 48px !important;
					width: 100% !important;
					clip: unset !important;
					clip-path: unset !important;
					// z-index: 1;
					opacity: 0;

					label {
						position: relative;
					}

					.select2-selection {
						pointer-events: none;
					}

					.select2-search__field {
						z-index: 1;
					}
				}

				// exceptions

				select[name="_sf_sort_order[]"] {
					opacity: 1 !important;
				}
			}
		}

		// ul li li {
		// 	padding: 0;
		// }
	}

	.searchandfilter {
		h4 {
			padding: 0 1.25em 0.618em 1.25em !important;

			// @media screen and (min-width: 1024px) {
			// 	padding: 0.618em 1.25em !important;
			// }
			color: $color__main-theme--blue;
		}

		li {
			display: flex;
			flex-flow: column;
			align-self: flex-end;
			width: 100%;
			position: relative;

			@media screen and (max-width: 1023px) {
				padding-top: 0;
			}

			@media screen and (min-width: 1024px) {
				flex: 1 1 30%;
			}

			// z-index: 1;
			// .select2-container label {
			// 	border: 2px solid #16538c;
			// 	border-radius: 100rem;
			// 	background: transparent;
			// 	box-shadow: 0 0 7px #16538c3a;
			// 	overflow: hidden;
			// }
		}

		li.sf-field-taxonomy-translator_language {
			.select2-selection__rendered input {
				text-transform: lowercase;
			}
		}

		.sf-field-sort_order {
			@media screen and (min-width: 1024px) {
				margin-left: 51%;
				max-width: 200px;
				padding-bottom: 0;
			}
		}
	}

	.select2-selection--multiple,
	.select2-selection--single,
	.sf-field-sort_order select,
	.sf-field-submit input {
		cursor: pointer;
		height: auto;
		line-height: 0 !important;
		// min-width: 220px;
		border: 2px solid $color__main-theme--blue !important;
		border-radius: 100rem !important;
		// background: transparent !important;
		box-shadow: $box-shadow_button--theme-color;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&::after {
			content: url(../dist/svg/arrow_down_blue.svg);
			// align-self: flex-end;
		}

		.select2-selection__rendered {
			padding: 0;
			display: flex !important;
			flex-flow: column;
			line-height: 1.5 !important;
		}
	}

	.select2-selection--multiple,
	.select2-selection--single,
	.sf-field-sort_order select,
	.sf-field-submit input,
	.sf-input-select {
		padding: $padding_search_input_mobile_y $padding_search_input_mobile_x !important;
		font-size: $font_size_search_input_mobile;
		min-height: 48px;

		@media screen and (min-width: 1024px) {
			padding: $padding_search_input_desktop_y $padding_search_input_desktop_x !important;
			font-size: $font_size_search_input_desktop;
			min-height: 52px;
		}
	}

	.sf-field-sort_order label {
		position: relative;
		width: 100%;

		select {
			width: 100%;
			// position: relative;
			// -webkit-appearance: none;
			// -moz-appearance: none;
			// text-indent: 1px;
			// text-overflow: "";
			// appearance: none;

			// -o-appearance: none;
			// -ms-appearance: none;
			// -webkit-appearance: none;
			// -moz-appearance: none;
			// appearance: none;
		}

		/* For IE10 */
		// select::-ms-expand {
		// 	display: none;
		// }

		&::after {
			content: url(../dist/svg/arrow_down_blue.svg);
			align-self: flex-end;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
			background: white;
			border-radius: 100rem;
			width: fit-content;
			padding-right: 0.75em;
			display: flex;
			justify-content: center;
			line-height: 0;

			// @media screen and (min-width: 1024px) {
			// 	top: 28%;
			// }
		}
	}

	// .select2-container--open {
	// 	.select2-results__options {
	// 		transform: translate(0, 12px) scale(1) !important;
	// 		opacity: 1 !important;
	// 		filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
	// 	}
	// }

	.show-dropdown {
		.select2-results__options {
			transform: translate(0, 12px) scale(1) !important;
			opacity: 1 !important;
			filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
		}
	}

	.select2 {
		&-dropdown {
			border: none;
			box-shadow: $box-shadow_button--theme-color;
			margin-top: 1rem;

			&--below {
				background: transparent;
				border-radius: 8px !important;
				margin-top: 0;
				height: auto;
				border: none !important;
				box-shadow: none;

				.select2-search__field {
					outline: none;
					border: none;
					transform: translateY(-220%);
					line-height: 0 !important;
					padding: 0;
					margin-left: calc(
						#{$padding_search_input_mobile_x} + 2px
					) !important; //border width
					position: absolute;
					max-width: 70%;
					background-color: $color__background-body;
					font-size: $font_size_search_input_mobile;

					@media screen and (min-width: 1024px) {
						margin-left: calc(
							#{$padding_search_input_desktop_x} + 2px
						) !important; //border width
						transform: translateY(-210%);
						font-size: $font_size_search_input_desktop;
					}
				}
			}
		}

		&-search {
			padding: 0;
		}

		&-search__field {
			width: 100% !important;
			margin-top: 0 !important;

			cursor: pointer;

			&::placeholder {
				color: #9e9e9e;
			}
		}

		&-selection {
			&__arrow {
				b {
					display: none;
				}
			}

			&__choice {
				display: none !important;
				margin: 2px !important;
				padding-right: 1.5rem;
				position: relative;

				&__remove {
					color: transparent;
					top: 0.45rem;
					right: 0.65rem;

					&::after {
						content: "";
						background-image: url(../dist/img/spinner.gif);
					}
				}
			}
		}

		&-results {
			&__options {
				background: $color__background-body;
				max-height: 20rem !important;
				visibility: visible !important;

				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 16px;
				z-index: 1;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				// visibility: hidden;
				opacity: 0;
				border-radius: 8px;
				transform: translate(0, 20px) scale(0.8);
				transform-origin: 0 0;
				filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
				transition: all 0.2s ease;
				// transition: all 0.4s ease,
				// 	transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44),
				// 	filter 0.3s ease 0.2s;
				// transition-duration: 2s;

				&::-webkit-scrollbar {
					background: transparent;
					width: 10px;
					height: 10px;
				}
				&::-webkit-scrollbar-track {
					border-radius: 10px;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background: $color__main-theme--turquoise-transparent;
				}
			}

			$width_optionbox: 1em;
			$height_optionbox: 1em;
			$right_optionbox: 1em;

			&__option {
				padding: 0.75em 1.25em;
				position: relative;
				transition: all 0.1s ease-in;

				&::after {
					content: "";
					width: $width_optionbox;
					height: $height_optionbox;
					border: 1px solid transparent;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: $right_optionbox;
				}

				&--highlighted {
					background-color: $color__main-theme--blue !important;

					&::before {
						filter: brightness(0) invert(1);
						// background-image: url(../dist/svg/remove.svg);
					}
				}

				&--highlighted[aria-selected="true"] {
					background-color: $color__main-theme--blue !important;

					&::before {
						filter: brightness(0) invert(1);
						// background-image: url(../dist/svg/remove.svg);
					}
				}
			}

			&__option[id*="language"] {
				text-transform: lowercase;
			}

			&__option[aria-selected="true"] {
				background-color: transparent;

				&::before {
					content: "";
					background-image: url(../dist/svg/checking-mark.svg);
					background-size: cover;
					background-repeat: no-repeat;
					width: 1em;
					height: 1em;
					position: absolute;
					top: 50%;
					transform: translate(50%, -50%);
					right: calc(#{$right_optionbox} + (#{$width_optionbox} / 2));
				}
			}

			&__message {
				&::after {
					display: none;
				}

				&::before {
					display: none;
				}
			}
		}
	}

	li.sf-field-submit {
		position: relative;
		flex: 1 1 0;
		margin-top: 2rem;
		padding-bottom: 0;
		padding-top: 0;

		@media screen and (min-width: 1024px) {
			margin-top: 0;
		}

		input {
			color: $color__text-white;
			padding: 0.75em 1.25em;
			border: 2px solid $color__main-theme--blue;
			border-radius: 100rem;
			background: $color__main-theme--blue;
			box-shadow: $box-shadow_button--theme-color;
			transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
				background 0.2s ease-in-out;
		}

		h4 {
			visibility: hidden;
		}

		&::before {
			content: "";
			background-image: url(../dist/svg/zoom.svg);
			height: 1rem;
			width: 1rem;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			top: 50%;
			right: 2rem;
			transform: translateY(-50%);
			transition: $transition_regular;

			@media screen and (min-width: 1024px) {
				height: 1.5rem;
				width: 1.5rem;
			}
		}

		&::after {
			content: "";
			background-image: url(../dist/img/spinner.gif);
			height: 3rem;
			width: 3rem;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			top: 50%;
			right: 1.25rem;
			transform: translateY(-50%);
			transition: $transition_regular;
			opacity: 0;
		}

		&:hover {
			input {
				// color: $color__main-theme--blue;
				background: darken($color__main-theme--blue, 7);
			}

			// &::before {
			// 	opacity: 0;
			// }
		}
	}

	li.search-button--clicked {
		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}

	.search-loading-message {
		position: absolute;
		padding: 0 2rem;
		bottom: -6rem;
		opacity: 0;
		transition: all 0.5s ease;
		transform: translateX(25%);
		font-weight: 300;
		font-family: $font__secondary;

		&__show {
			opacity: 1;
			transform: translateX(0%);
		}

		&__hide {
			opacity: 0;
			transform: translateX(-25%);
		}
	}
}

.searchfilter__wrapper--basic {
	li.sf-field-submit {
		h4 {
			display: none;
		}
	}
}

.remove-item {
	position: absolute;
	border-radius: 100%;
	background-color: black;
	box-shadow: 0 0 2px black;
	// background-image: url(../dist/svg/close_icon_white.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: $transition__button--standard;

	right: 0;
	top: 0;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem;

	@media screen and (min-width: 1024px) {
		// width: 32px;
		// height: 32px;
		// background-size: 12px;
		// line-height: 32px;
		// font-size: 32px;
		transform: scale(0);
	}

	&::after {
		color: white;
		content: "\d7";
		transition: $transition__button--standard;
		line-height: 1.5rem;
		position: absolute;
		top: 50%;
		height: 100%;
		left: 50%;
		transform: translate(-50%, -46%);
	}

	&:hover {
		&::after {
			color: $color__error-red;
		}
	}
}

.progress {
	margin-top: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
	width: 100px;
	z-index: 99999;
	opacity: 0;
	transition: $transition_regular;
	pointer-events: none;

	&-show {
		opacity: 1;
	}

	&-bar {
		height: 5px;
		background: $color_special-elements;
		border-radius: 5px;
		transition: all 0.1s linear;
		width: 0%;
	}

	&-percents {
		width: 100%;
		text-align: center;
	}
}

.important-visible {
	display: block !important;
	position: static !important;

	.new-attachment__icon {
		display: block !important;
	}
}

.important-invisible {
	display: none !important;
	position: absolute !important;

	.new-attachment__icon {
		display: none !important;
	}
}

.box-shadow {
	&__standard {
		box-shadow: $box-shadow_standard--theme-color;
	}

	&__header {
		box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
	}
}

.characters-counter {
	margin-top: 1rem;
	margin-bottom: 0 !important;
	margin-left: auto;
}

.bg-decoration {
	&__holder {
		position: relative;
		z-index: -1;
	}

	&__content {
		position: absolute;

		svg {
			overflow: visible;
		}
	}
}

.pseudo-decoration {
	&::before,
	&::after {
		position: absolute;
		content: "";
		background: $color__main-theme--turquoise;
	}

	&__lt {
		&::before {
			left: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		&::after {
			left: 0;
			top: 0;
			height: 2px;
			width: 100%;
		}
	}

	&__rt {
		&::before {
			right: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		&::after {
			right: 0;
			top: 0;
			height: 2px;
			width: 100%;
		}
	}

	&__rb {
		&::before {
			right: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		&::after {
			right: 0;
			bottom: 0;
			height: 2px;
			width: 100%;
		}
	}

	&__lb {
		&::before {
			left: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		&::after {
			left: 0;
			bottom: 0;
			height: 2px;
			width: 100%;
		}
	}

	&__rb-half {
		&::before {
			right: 0;
			top: 0;
			height: 100%;
			width: 2px;
		}

		&::after {
			right: 0;
			bottom: 0;
			height: 2px;
			width: 50%;
		}
	}
}

.uppercase {
	text-transform: uppercase;
}

.corner {
	&__decoration {
		position: absolute;
		width: 25%;
		height: 80%;
		border: 2px solid $color__main-theme--turquoise;

		&--left {
			left: $corner-decoration-spacing;
			bottom: $corner-decoration-spacing;
			border-top: 0;
			border-right: 0;
		}

		&--right {
			right: $corner-decoration-spacing;
			top: $corner-decoration-spacing;
			border-bottom: 0;
			border-left: 0;
		}
	}
}

.up-down-decoration {
	padding: 1em 0;
	border: 2px solid;
	border-right: 0;
	border-left: 0;
	// display: block;
	width: 100%;

	&--turquoise {
		border-color: $color__main-theme--turquoise;
	}
}

.image-holder {
	display: flex;
	// img {
	// 	object-fit: contain;
	// }
}

.image-border-shadow {
	box-shadow: $box-shadow_standard--black;
	border-radius: 5px;
	overflow: hidden;
}

.image-holder-decorated {
	position: relative;

	@media screen and (min-width: 1024px) {
		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 20px;
			border: 2px solid;
			top: 3rem;
			left: -3rem;
			z-index: -1;
		}

		&--turquoise {
			&::after {
				border-color: $color__main-theme--turquoise;
			}
		}
	}
}

.image-content-row {
	@media screen and (min-width: 1024px) {
		column-gap: 6rem;
	}

	.content-holder,
	.image-holder {
		@media screen and (max-width: 1023px) {
			margin: auto;
		}

		@media screen and (min-width: 1024px) {
			width: 50%;
		}
	}

	.content-holder {
		@media screen and (max-width: 1023px) {
			margin-bottom: 2rem;

			.cta-wrapper {
				text-align: center;
				margin-bottom: 4rem;
			}
		}
	}

	@media screen and (min-width: 1024px) {
		// .image-holder {
		// 	width: 45%;
		// }

		.image-to-the-right {
			justify-content: flex-end;
		}

		.image-to-the-left {
			justify-content: flex-start;
		}

		// .content-holder {
		// 	width: 45%;
		// }
	}
}

.pd {
	&--1 {
		padding: 1rem;
	}

	&--2 {
		padding: 2rem;
	}

	&--3 {
		padding: 3rem;
	}

	&--4 {
		padding: 4rem;
	}

	&--standard {
		padding: 1.5em 1.75em;
	}
}

.pb {
	&--1 {
		padding-bottom: 1rem;
	}

	&--2 {
		padding-bottom: 2rem;
	}

	&--3 {
		padding-bottom: 3rem;
	}

	&--4 {
		padding-bottom: 4rem;
	}

	&--standard {
		padding-bottom: 1rem;
	}
}

.pt {
	&--1 {
		padding-top: 1rem;
	}

	&--2 {
		padding-top: 2rem;
	}

	&--3 {
		padding-top: 3rem;
	}

	&--4 {
		padding-top: 4rem;
	}

	&--standard {
		padding-top: 1rem;
	}
}

.pr {
	&--1 {
		padding-right: 1rem;
	}

	&--2 {
		padding-right: 2rem;
	}

	&--3 {
		padding-right: 3rem;
	}

	&--4 {
		padding-right: 4rem;
	}

	&--standard {
		padding-right: 1rem;
	}
}

.advantages {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 6rem;
	column-gap: 10%;

	@media screen and (min-width: 1024px) {
		row-gap: 4rem;
	}

	.advantage {
		@media screen and (min-width: 1024px) {
			max-width: 45%;
		}

		&__wrapper {
			@media screen and (min-width: 1024px) {
				// max-width: 525px;
				margin: 0 auto;
			}
		}

		&:nth-of-type(even) {
			@media screen and (min-width: 1024px) {
				margin-top: 7.5rem;
			}

			.advantage__title-wrapper {
				p {
					color: $color__main-theme--blue;
				}
			}
		}

		&:nth-last-child(1):nth-child(odd) {
			margin: 4rem auto;
		}
	}
}

// .contact-icon {
// 	width: 2rem;
// 	height: 2rem;
// 	display: block;

// 	svg {
// 		width: 2rem;
// 		height: 2rem;
// 	}
// }

.svg-icon-bg {
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 2rem;
	height: 2rem;

	&--email {
		background-image: url(../dist/svg/email.svg);
	}

	&--pointer-right {
		background-image: url(../dist/svg/pointer-right.svg);
	}
}

.bulletpoints-box {
	&__title {
		padding-bottom: 1em;
		padding-right: 1.75em;
		padding-left: 1em;
		position: relative;
		width: fit-content;

		h2 {
			width: fit-content;
			// display: table-caption;
		}

		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			content: "";
			height: 75%;
			max-height: 2em;
			width: 2px;
			background: $color__main-theme--turquoise;
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			content: "";
			height: 2px;
			width: 100%;
			background: $color__main-theme--turquoise;
		}
	}

	&__list-holder {
		position: relative;
		padding-top: 2rem;
		padding-left: 2rem;

		@media screen and (min-width: 1024px) {
			padding-left: 4rem;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			height: 100%;
			width: 2px;
			background: $color__main-theme--turquoise;
		}

		li {
			margin: 2rem 0;
			position: relative;

			&:first-of-type {
				margin-top: 0;
			}

			&::before {
				content: "";
				position: absolute;
				left: -2rem;
				top: 50%;
				height: 1.5rem;
				width: 1.5rem;
				border-radius: 100%;
				background: $color__main-theme--turquoise;
				transform: translate(-50%, -50%);

				@media screen and (min-width: 1024px) {
					left: -4rem;
				}
			}

			&:nth-of-type(even) {
				&::before {
					background: $color__main-theme--blue;
				}
			}
		}
	}
}

.search-basic-section-holder {
	max-width: 1000px;
	margin: auto;

	> * {
		@media screen and (min-width: 1024px) {
			width: 45%;
		}
	}

	.sf-field-submit {
		margin-top: 2rem !important;
	}

	.search-basic-paragraph {
		margin-bottom: 2rem;

		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}
	}
}

#breadcrumbs {
	font-weight: 500;

	span {
		color: $color__main-theme--turquoise;
	}

	.breadcrumb_last {
		color: $color__text-black;
	}
}

.welcome-section-scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5rem;
	transform: translateX(-50%);

	@media screen and (max-width: 1024px) {
		display: none;
	}

	@media screen and (min-width: 1024px) and (max-width: 1400px) and (min-height: 1200px) {
		display: none;
	}
}

.chevron-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	margin: auto;
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.chevron {
	position: absolute;
	width: 45px;
	height: 4px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: " ";
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background-color: $color__main-theme--blue;
}

.chevron:before {
	left: 2px;
	transform: rotate(30deg);
}

.chevron:after {
	right: 2px;
	width: 50%;
	transform: rotate(-30deg);
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(20px);
	}
	67% {
		opacity: 1;
		transform: translateY(35px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

.info-tile {
	padding: 0.75rem 0;
	border-bottom: 1px solid $color__main-theme--blue-transparent;
}

.follow-us-holder {
	max-width: 300px;
	background-image: url(../dist/svg/circles-3-bg.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 2rem;
	padding-top: 1rem;
}

.border {
	&--standard {
		padding-bottom: 1rem;
		border-bottom: 1px solid $color__main-theme--blue-transparent;
	}
}

.z-index-behind {
	z-index: $z-index-behind;
}

.scrollToTopBtn {
	/* place it at the bottom right corner */
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 2em 1em 1em;
	/* keep it at the top of everything else */
	z-index: 100;
	/* hide with opacity */
	opacity: 0;
	/* also add a translate effect */
	transform: translateY(100px);
	/* and a transition */
	transition: all 0.5s ease;

	&__svg-wrapper {
		background-color: $color__main-theme--blue;
		box-shadow: $box-shadow_button--theme-color;
		border: none;
		border-radius: 50%;
		color: white;
		cursor: pointer;
		font-size: 16px;
		line-height: 48px;
		width: 48px;
		height: 48px;
		padding: 0;
		display: flex;
		justify-content: center;
	}
}

.showBtn {
	opacity: 1;
	transform: translateY(0);
}

.lowercase {
	text-transform: lowercase;
}

.error-404 {
	display: flex;
	min-height: 50vh;
	padding: 4rem 2rem;

	.page-header {
		margin: auto;
		text-align: center;

		h1 {
			margin-bottom: 2em;
		}
	}
}

.desktop-only {
	display: none;
	@media screen and (min-width: 1024px) {
		display: block;
	}
}

.mobile-only {
	@media screen and (min-width: 1024px) {
		display: none;
	}
}
