.site-header {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-branding {
		.site-title {
			p {
				margin: 0;
			}
		}

		.custom-logo-link {
			padding: 1em;

			img {
				max-width: 150px;
			}
		}
	}
}
