.home {
	.site-content {
		padding: 0;
	}

	section {
		padding-left: 2rem;
		padding-right: 2rem;

		@media screen and (min-width: 992px) {
			padding-left: $padding__side-main--desktop;
			padding-right: $padding__side-main--desktop;
		}

		&:first-of-type {
			padding-top: 6rem;

			@media screen and (min-width: 992px) {
				padding-top: 8rem;
			}
		}
	}

	&__section-1 {
		position: relative;
		// background: $gradient--turquise;
		min-height: 100vh;

		&:after {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.text-holder {
			grid-row: 1;

			@media screen and (min-width: 992px) {
				max-width: 50rem;
			}

			.text--outline-turquise {
				display: block;
			}
		}

		.search__container {
			grid-row: 1;
			flex-flow: column;
			display: flex;
			justify-self: center;
			width: -webkit-fill-available;
			justify-content: space-between;

			li.sf-field-submit {
				margin-top: 1rem;
				position: relative;

				h4 {
					// color: transparent;
					// height: 1rem;
					display: none;
				}
			}

			@media screen and (min-width: 992px) {
				max-width: 400px;
			}

			.searchfilter__wrapper {
				@media screen and (min-width: 992px) {
					margin-top: 25%;
				}
			}
		}

		.image-holder {
			// text-align: center;
			display: flex;
			// justify-content: center;
			align-items: center;
			// padding: 2rem;

			// grid-row: 3;

			img {
				object-fit: contain;

				max-height: 350px;

				@media screen and (min-width: 992px) {
					// grid-row: 1;

					// max-width: 350px;
				}
			}
		}

		.prizes-wrapper {
			display: flex;
			flex-flow: row;
			justify-self: flex-end;
			align-self: flex-end;

			img {
				max-width: 150px;
				object-fit: contain;

				&:first-of-type {
					margin-right: 2rem;
				}
			}
		}
	}
}

.get-to-know-us {
	&__element-wrapper {
		flex: 1;

		img {
			max-width: 300px;
		}
	}
}

.welcome-view-container {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 992px) {
		display: grid;
		grid-column-gap: 2rem;
		grid-template-columns: 50%;
	}
}
