.single-translator {
	article.translator {
		margin: 4rem 0;
	}

	&__section {
		&--1 {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	.swiper-container {
		&--translator-publications {
			text-align: center;
		}

		&--single-translator-multimedia-gallery {
			width: 80%;

			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;

				img {
					width: 30%;
				}

				video {
					width: 40%;
				}
			}
		}
	}
}

.video-container {
	text-align: center;
}
