.single-translator {
	main {
		margin-top: 10rem;
	}

	.translator {
		margin: 4rem 0;
	}

	.desktop-only {
		.translator {
			&__top {
				width: 50%;
				max-width: 310px;
			}

			&__bottom {
				width: 50%;
				padding-right: 10rem;
			}
		}
	}

	.mobile-only {
		h1 {
			text-align: center;
		}
	}

	&__section {
		margin-bottom: 8rem;

		&--1 {
			.icon,
			.icon svg {
				height: 24px;
			}

			.icon {
				margin-right: 0.5rem;
			}

			.translator {
				&__top {
					margin: 0 auto;

					img {
						height: 10rem;
						// width: 10rem;
						object-fit: contain;
					}
				}

				&__bottom {
					@media screen and (min-width: 1024px) {
						width: 30%;
					}

					p {
						margin-right: 3rem;
					}

					.info-tile {
						margin-right: 6rem;
					}

					.wrapper-flex {
						&:first-of-type {
							margin-bottom: 1rem;
						}
					}
				}

				&__about {
					max-width: 1024px;
					margin: auto;
					p {
						&:last-of-type {
							border-bottom: 0;
						}
					}
				}
			}

			&__languages {
				li {
					text-transform: lowercase;
				}
			}

			&__icons-wrapper {
				margin-top: 2rem;
				text-align: right;
			}
		}

		&--3 {
			p {
				text-align: center;
			}
		}
	}

	.swiper-container {
		&--translator-publications {
			text-align: center;
		}

		&--single-translator-multimedia-gallery,
		&--single-translator-sound-gallery {
			width: 80%;
			padding: 0 4rem;

			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				column-gap: 5rem;

				img {
					width: 40%;
				}

				.video-container {
					width: 50%;

					video {
						width: 100%;
					}
				}
			}
		}
	}
}

.video-container {
	text-align: center;
}
